.hidden {
  display: none;
}

img {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  /*배경화면 full로 채우기*/
}

body {
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item {
  width: 70vw;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 7em;
  color: white;
  margin-top: 23vh;
}

input {
  background: transparent;
  border: transparent;
  color: white;
  font-size: 20px;
  width: 32vw;
}

#quote {
  margin-top: 25vh;
  color: white;
  margin-bottom: 20vh;
}

#clock {
  margin-top: 44vh;
}

#weather {
  color: white;
  margin-bottom: 18vh;
}

#greeting {
  padding-bottom: 10vh;
  padding-top: 18vh;
}

button {
  background: transparent;
  border: transparent;
}

#login-form {
  margin-top: 40vh;
}

input::placeholder {
  color: white;
}
